/* 既存のCSS */
body {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  align-items: center; /* 中央揃え */
  justify-content: center; /* 縦方向の中央揃え */
  height: 100vh; /* ビューポートの高さを100%に設定 */
  background-image: linear-gradient(rgba(171, 142, 142, 0.7), rgba(171, 142, 142, 0.7)), url('picture/noise.gif');
  background-repeat: repeat;
  background-size: auto;
}

h1 {
  text-align: center; /* タイトルを中央揃え */
}

.btn {
  border-radius: 6px;
  display: inline-block;
  padding: 0 20px; /* 横のパディングを追加 */
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(171, 142, 142, 0.7);
  box-shadow: 0px 5px 0px rgba(191, 142, 142, 0.7);
  transition: .3s;
  white-space: nowrap; /* テキストの折り返しを防ぐ */
  margin: 10px; /* ボタン間のスペースを追加 */
}

.btn:hover {
  box-shadow: unset;
  transform: translateY(4px);
}

/* ボタンの色設定 */
.btn-color-1 {
  background-image: linear-gradient(rgba(142, 171, 164, 0.7), rgba(142, 171, 164, 0.7)), url('picture/noise.gif');
  box-shadow: 0px 5px 0px rgba(162, 171, 164, 0.7);
}

.btn-color-2 {
  background-image: linear-gradient(rgba(192, 163, 204, 0.7), rgba(192, 163, 204, 0.7)), url('picture/noise.gif');
  box-shadow: 0px 5px 0px rgba(212, 163, 204, 0.7);
}

.btn-color-3 {
  background-image: linear-gradient(rgba(171, 153, 142, 0.7), rgba(171, 153, 142, 0.7)), url('picture/noise.gif');
  box-shadow: 0px 5px 0px rgba(191, 153, 142, 0.7);
}

.btn-color-4 {
  background-image: linear-gradient(rgba(171, 142, 142, 0.7), rgba(171, 142, 142, 0.7)), url('picture/noise.gif');
  box-shadow: 0px 5px 0px rgba(191, 142, 142, 0.7);
}

.btn-color-5 {
  background-image: linear-gradient(rgba(245, 222, 179, 0.7), rgba(245, 222, 179, 0.7)), url('picture/noise.gif');
  box-shadow: 0px 5px 0px rgba(245, 222, 179, 0.7);
}

/* 新しい背景色 */
.bg-color-1 {
  background-image: linear-gradient(rgba(142, 171, 164, 0.7), rgba(142, 171, 164, 0.7)), url('picture/noise.gif');
}

.bg-color-2 {
  background-image: linear-gradient(rgba(192, 163, 204, 0.7), rgba(192, 163, 204, 0.7)), url('picture/noise.gif');
}

.bg-color-3 {
  background-image: linear-gradient(rgba(171, 153, 142, 0.7), rgba(171, 153, 142, 0.7)), url('picture/noise.gif');
}

.bg-color-4 {
  background-image: linear-gradient(rgba(171, 142, 142, 0.7), rgba(171, 142, 142, 0.7)), url('picture/noise.gif');
}

.bg-color-5 {
  background-image: linear-gradient(rgba(245, 222, 179, 0.7), rgba(245, 222, 179, 0.7)), url('picture/noise.gif');
}